<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


<div id="container" style="position:absolute; top: 35%; width: 99%;">
  <div style="color: white; text-align: center; width: 99%; position: relative; font-size: 120px; font-family: 'Lato', sans-serif; float: left">
    Standpoint Radio
  </div>
  <div style="position: relative; margin: 0 auto; width: 301px;">
    <script src="//myradiostream.com/webplayer/507983.js"></script>
  </div>
</div>